*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 200px;
    height: 200px;
    perspective: 10000px;
    margin: 100px auto 0;
}
.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 15s infinite linear;

}
.face {
    position: absolute;
    width: 200px;
    height: 200px;
}

.top {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: rotateX(90deg) translateZ(100px);
}
.bottom {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: rotateX(-90deg) translateZ(100px);
}

.right {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: rotatey(90deg) translateZ(100px);
}
.left {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: rotatey(-90deg) translateZ(100px);
}


.front {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: rotateX(0deg) translateZ(100px);
}
.back {
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transform: rotateX(-180deg) translateZ(100px);
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotatey(0deg);
    }
    to {
        transform: rotateX(360deg) rotatey(360deg);
    }
}